@font-face {
    font-family: 'Weather';
    src: url('../fonts/weather.ttf') format('truetype');
}

.weather-icon {
    font-family: 'Weather';
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: -0.35em;
}
