@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "fonts";

html, body {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
    transition: all 1s;
}

#app {
    width: 100%;
    width: 100vw;

    height: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    #contents {
        text-align: center;

        #time {
            margin-bottom: -20px;

            span {
                font-size: 15em;

                &.seperator {
                    position: relative;
                    width: 0.25em;
                    display: inline-block;

                    i {
                        position: absolute;
                        top: -155px;
                        left: 10px;
                        font-size: .3em;

                        &:not(:first-of-type) {
                            top: -95px;
                        }
                    }
                }
            }
        }

        #date {
            font-size: 2em;
        }

        div#weather {
            margin-top: -50px;

            & > div {
                display: inline-block;
                font-size: 2.5em;
                padding: 0 20px;

                & > div > span {
                    display: block;

                    &.text {
                        font-size: 0.7em;
                    }
                }
            }

            & > div#now {
                font-size: 2.5em;

                .weather-icon {
                    font-size: 6em;
                }
            }

            & > div:not(#now) {
                position: relative;
                top: -35px;
            }
        }

        #location {
            font-size: 2em;
            padding-top: 1.5em;
        }
    }
}

.tooltip {
    position: absolute;
    font-size: 20px;
}
