@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "fonts";

html, body {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
    transition: all 1s;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    color: #fff;
}

#app {
    width: 100%;
    width: 100vw;

    height: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    // Safari 9.0+ (iOS Only) - http://stackoverflow.com/a/25975282
    @supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) {
        font-size: 0.4em;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 0.8em;
        }

        @media (min-width: $screen-md-min) {
            font-size: 1em;
        }
    }

    #contents {
        text-align: center;
        zoom: 0.35;
        // transform: scale(.3);
        // transform-origin:0 0;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            zoom: 0.7;
            // transform: scale(.7);
        }

        @media (min-width: $screen-md-min) {
            zoom: 1;
            // transform: scale(1);
        }

        #time {
            margin-top: -20px;
            margin-bottom: -20px;

            span {
                font-size: 15em;

                &.seperator {
                    position: relative;
                    width: 0.25em;
                    display: inline-block;

                    i {
                        position: absolute;
                        top: -145px;
                        left: 10px;
                        font-size: .3em;
                        opacity: 1;

                        &.dot, &.blank {
                            transition: all 1s;

                            &:not(:first-of-type) {
                                top: -85px;
                            }
                        }

                        &.blank {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        #date {
            font-size: 2em;
        }

        div#weather {
            margin-top: -50px;

            & > div {
                display: inline-block;
                font-size: 2.5em;
                padding: 0 20px;

                & > div > span {
                    display: block;

                    &.text {
                        font-size: 0.7em;
                        font-weight: bold;
                    }
                }
            }

            & > div#now {
                font-size: 2.5em;

                .weather-icon {
                    font-size: 6em;
                }
            }

            & > div:not(#now) {
                position: relative;
                top: -35px;
            }
        }

        #location {
            font-size: 2em;
            padding-top: 1.5em;
        }
    }
}

.tooltip {
    position: absolute;
    font-size: 20px;
}
